@using Microsoft.AspNet.Identity
@model InstituteOfFineArts.Models.Mark

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style=" padding-top: 5%">
    <div class="whole-wrap">
        <div class="container ">

            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-4 mt-sm-20">
                        <div style="margin-bottom: 6vw; text-align:center">
                            <h2>@Model.Submission.SubmissionName</h2>
                            <p>@Model.Submission.Description</p>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Edit Mark </h3>
                                </div>
                                <div class="box-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.MarkId, new { value = Model.MarkId })
                                    @Html.HiddenFor(model => model.AccountId, new { value = User.Identity.GetUserId() })
                                    @Html.HiddenFor(model => model.SubmissionId, new { value = Model.SubmissionId })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Marks, htmlAttributes: new { @class = "control-label col-md-2" })
                                        
                                        <select id="mark" name="Marks" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">

                                        <input type="submit" value="Mark" class="btn btn-warning" />
                                        <a href="@Url.Action("ListMark", "Mark",new{competitionId = Model.Submission.CompetitionId})" class="btn btn-default" style="float:left; margin-right:2%">Back</a>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                        <div class="col-md-6 mt-sm-20">
                            <img src="@Model.Submission.Picture" class="img-rounded img-responsive pad picture" style="box-shadow: 0 0 10px 4px grey, 0 0 10px 0px grey, 0px 0 0px 0px grey; margin-left: 2.5vw; width:100%" alt="Alternate Text" />                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#mark option[value='@Model.Marks.Value']").attr('selected', 'selected');
        })
    </script>
}
