@model IEnumerable<InstituteOfFineArts.Models.Mark>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Index","Mark",FormMethod.Get)) 
{
    <table class="table">
    <tr>
        <th>
            Examiner Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-2">
            <img class="img-responsive" src="@Url.Content(@item.Submission.Picture)" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MarkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MarkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MarkId })
        </td>
    </tr>
}

</table>
}