@model PagedList.IPagedList<InstituteOfFineArts.Models.Award>
@using InstituteOfFineArts.Models
@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    Our Award Gallery
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">Our Award Gallery</a></p>
            </div>
        </div>
    </div>
</section>
<section class="gallery-area gallery-page-area" id="gallery">
    <div class="container">
        <div class="mt-20 ml-20">
            @using (Html.BeginForm("Index", "Award", FormMethod.Get, new { @class = "ml-2" }))
            {
                <div class="row">
                    <select id="mySelect" name="awardtype" value="@ViewBag.Awardtype">
                        <option value="">All</option>
                        <option value="1">First Prize</option>
                        <option value="2">Second Prize</option>
                        <option value="3">Third Prize</option>
                    </select>
                    <input type="submit" value="search" class="btn btn-default ml-2" />
                </div>

            }
        </div>
        <div id="grid-container" class="row">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})">
                    <img class="grid-item hgrid-item loaded resized" src="@Url.Content(item.Submission.Picture)">
                </a>
            }
        </div>
        <hr />
        <div class="ml-30 mt-10">
            Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
            <div style="color: #fff">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>  
</section>
@section scripts
{
    <script>
        $(document).ready(function()
        {
            $("#mySelect option[value = @ViewBag.Awardtype]").attr('selected','selected');
        });
    </script>
    
}
