@model InstituteOfFineArts.Models.Competition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                   <div class="container ">
                       
                           <div class="row" style="padding-top:2%">
                               <div class="col-md-4">
                                   <h2>
                                       @Html.DisplayFor(model => model.CompetitionName)
                                   </h2>
                                   <h4> @Html.DisplayFor(model => model.ShortDescription)</h4>
                                   <h5 class="mb-4">Start Date: @Html.DisplayFor(model => model.StartDate)</h5>

                                   <h5 class="mb-4">End Date : @Html.DisplayFor(model => model.EndDate)</h5>
                                   <h5 class="mb-4">@Html.DisplayFor(model => model.Description)</h5>
                               </div>
                               <div class="col-md-7" style="float:right; padding-right:5%">

                                   <img class="img-rounded img-responsive picture" src="@Html.DisplayFor(model => model.Image)" alt="Alternate Text" />

                               </div>
                           </div>
                           <div class="row" >
                               <div class="col-md-offset-1" style="padding-bottom:20px;">
                                   @Html.ActionLink("Edit", "Edit", new { id = Model.CompetitionId }, new { @class = "btn btn-warning" })
                                   <a href="@Url.Action("Index", "Competition")" class="btn btn-default" style="margin-left:1%">Back to List</a>
                               </div>
                           </div>
                       
                   </div>
                </div>
            </div>
        </div>
    </section>