@using Microsoft.AspNet.Identity
@model InstituteOfFineArts.Models.Submission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    @Html.DisplayFor(model => model.Competition.CompetitionName)
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="/Submission/List/@Model.CompetitionId">List Submission</a><span class="lnr lnr-arrow-right"></span><a href="/Submission/Detail/@Model.SubmissionId">Detail Submission</a></p>
            </div>
        </div>
    </div>
</section>
<div style="background-color: #f3f3f3;">
    <!-- Start cat-top Area -->
    <section class="cat-top-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 cat-top-left">
                    <h1>
                        @Html.DisplayFor(model => model.SubmissionName)
                    </h1>
                    
                    <p style="font-size: 24px;">Author: @Model.Creator.FirstName @Model.Creator.LastName</p>
                    <p style="font-size: 18px;">Point: @if (Model.Marks.Any())
                    {
                        @Model.MarkAverage
                        
                    }
                    </p>
                    <p style="font-size: 18px;">Award: @Html.DisplayFor(model => model.Award.AwardName)</p>
                    <p style="font-size: 18px;">Post Date: @Html.DisplayFor(model => model.UpdatedAt)</p>
                    <p>@Model.Description</p>
                    @if (Model.CreatorId == User.Identity.GetUserId())
                    {
                        <a class="genric-btn warning circle" href="@Url.Action("Edit", "Submission", new {id = Model.SubmissionId})">Update</a>
                    }

                    <a class="genric-btn success circle" href="@Url.Action("List", "Submission", new {id = Model.CompetitionId})">Back</a>
                </div>
                <div class="col-lg-6 cat-top-right">
                    <img id="myImg" class="img-responsive img-rounded" src="@Url.Content(Model.Picture)" alt="">
                </div>
                <div id="myModal" class="modal">
                    <span class="close1">&times;</span>
                    <img class="modal-content" id="img01" style="margin-top: 60px;" />
                </div>
            </div>
        </div>



    </section>
    @Html.Action("SomeSubmission", "Submission", new { Id = Model.CompetitionId })
    <!-- End cat-top Area -->
</div>

<script type="text/javascript">
    var modal = document.getElementById("myModal");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
