@model InstituteOfFineArts.Models.Submission

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative ">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    @Html.DisplayFor(model => model.Competition.CompetitionName)
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="row section-gap">
    <div class="col-md-5">
        <main class="site-main">
            <br />
            @using (Html.BeginForm("Edit", "Submission", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-8 col-md-8" style="margin-left: 200px;">
                    <div class="mt-10">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CreatorId)
                        @Html.HiddenFor(model => model.SubmissionId)
                        <div class="submission-content">
                            <div class="mt-10">
                                @Html.EditorFor(model => model.CompetitionId, new { htmlAttributes = new { @class = "single-input", @type = "hidden", @value = @ViewBag.CompetitionId } })
                            </div>
                            <div class="mt-10">
                                <div class="float-left">
                                    @Html.LabelFor(model => model.SubmissionName, htmlAttributes: new { @class = " col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SubmissionName, new { htmlAttributes = new { @class = "single-input" } })
                                    @Html.ValidationMessageFor(model => model.SubmissionName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mt-10">
                                <div class="float-left">
                                    @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    <img id="previous" src="#" class="hidden img-thumbnail" alt="Alternate Text" style="width: 100px" />
                                    @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "single-input", @type = "hidden" } })
                                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                                    <div style="margin-top: 5px">
                                        <button type="button" id="upload_widget1" class="genric-btn info radius">Upload files</button>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-10">
                                <div class="float-left">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = " col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "single-textarea" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mt-10">
                                <div class="col-md-offset-0 col-md-9" style="margin-top: 10px">
                                    <input type="submit" value="Save" class="genric-btn primary radius" />
                                    <a class="genric-btn info radius" href="@Url.Action("List", "Submission", new {id = Model.CompetitionId})">Back</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            }



        </main>
    </div>
    <div class="col-md-5">
        <section>
            <div class="cat-top-right">
                <img class="img-responsive img-rounded" src="@Model.Picture" />
            </div>
        </section>
    </div>
</div>



@section Scripts {

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'hanv11',
            uploadPreset: 'bpmopgln'
        },
            (error, result) => {
                if (!error && result && result.event === "success") {
                    console.log('Done! Here is the image info: ', result.info);
                    var imgLink = result.info.secure_url;
                    document.querySelector("input[name='Picture']").value = imgLink;
                    var imgPrevious = document.getElementById("previous");
                    imgPrevious.src = imgLink;
                    imgPrevious.classList.remove("hidden");
                }
            }
        );

        document.getElementById("upload_widget1").addEventListener("click", function () {
            myWidget.open();
        }, false);
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
