@model PagedList.IPagedList<InstituteOfFineArts.Models.Submission>
@using System.Activities.Statements
@using InstituteOfFineArts.Models
@using Microsoft.AspNet.Identity
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @if (Model.Any())
                        {
                            <h1>@Model.First().Competition.CompetitionName</h1>
                        }
                    </div>
                    @using (Html.BeginForm("List", "Submission", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <p class="form-group" style="margin-left: 20px;">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control ", @placeholder = "Find by keyword" })
                            <input type="submit" class="btn btn-default" value="Search" />
                        </p>

                    }
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <tr>
                                <th>
                                    Picture Name
                                </th>
                                <th>
                                    Picture
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Decription
                                </th>
                                <th></th>
                                <th></th>


                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-md-2">
                                    <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})" class="d-block mb-4">@Html.DisplayFor(model => item.SubmissionName)</a>
                                </td>
                                <td class="col-md-2">
                                    <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})" class="d-block mb-4"><img class="img-thumbnail pad" src="@item.Picture" alt=""></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Creator.FirstName) @Html.DisplayFor(model => item.Creator.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Description)
                                </td>
                                <td>
                                    @item.MarkAverage
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Award.AwardName)
                                </td>
                                <td id="status_@item.SubmissionId">
                                    @Html.DisplayFor(model => item.Status)
                                </td>
                                <td>
                                    @if (Model.First().Competition.CreatorId == User.Identity.GetUserId())
                                    {
                                        <button id="confirm_@item.SubmissionId" class="btn btn-warning" @Html.Raw((item.Status == Submission.SubmissionStatus.Confirmed) ? "disabled" : "") onclick="confirmed(@item.SubmissionId)">Confirm</button>
                                        <button id="cancel_@item.SubmissionId" class="btn btn-danger" @Html.Raw((item.Status == Submission.SubmissionStatus.Cancel) ? "disabled" : "") onclick="cancel(@item.SubmissionId)">Cancel</button>
                                    }

                                </td>
                            </tr>
                        }
                        </table>

                </div>
            </div>
        </div>
        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.SortOder, currentFilter = ViewBag.CurrentFilter }))
    </div>
        </section>

<script>
    function confirmed (id) {
        var confirmation = confirm("are you sure you want to confirm the submission?");
        if (confirmation) {
            $.ajax({
                type: 'get',
                url: '@Url.Action("ConfirmSubmission", "Submission")',
                data: {
                    submissionId: id
                },
                success: function (res) {
                    console.log(res.submissionId);
                    $('#status_' + res.submissionId).html("Confirmed");
                    $('#confirm_' + res.submissionId).attr("disabled", true);
                    $('#cancel_' + res.submissionId).attr("disabled", false);
                }

            })
        }
    }function cancel (id) {
        var confirmation = confirm("are you sure you want to cancel the submission?");
        if (confirmation) {
            $.ajax({
                type: 'get',
                url: '@Url.Action("CancelSubmission", "Submission")',
                data: {
                    submissionId: id
                },
                success: function (res) {
                    console.log(res.submissionId);
                    $('#status_' + res.submissionId).html("Cancel");
                    $('#cancel_' + res.submissionId).attr("disabled", true);
                    $('#confirm_' + res.submissionId).attr("disabled", false);
                }

            })
        }
    }
</script>