@using Antlr.Runtime.Tree
@model InstituteOfFineArts.Models.Competition

@{
    ViewBag.Title = "DetailCompetition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative" style="background-color: white;">
    <div class="overlay overlay-bg" style="background-color: rgba(0, 0, 0, 0.7);"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    @Html.DisplayFor(model => model.CompetitionName)
                </h1>

            </div>
                

            </div>
        </div>
    
</section>
<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-list blog-post-list">
                <div class="single-post">
                    <img class="img-fluid" style="width:700px" src="@Url.Content(@Model.Image)" alt="">
                    <a href="#">
                        <h1>
                            @Html.DisplayFor(model => model.CompetitionName)
                        </h1>
                    </a>
                    <div class="content-wrap">
                        <p>
                            @Html.DisplayFor(model => model.ShortDescription)
                        </p>
                        <blockquote class="generic-blockquote">
                            <strong>From @Html.DisplayFor(model => model.StartDate) to @Html.DisplayFor(model => model.EndDate)  </strong>
                        </blockquote>

                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>

                        <div style="text-align: center;">
                            @if (Model.StartDate > DateTime.Now)
                            { 
                            <button class="primary-btn text-uppercase" disabled>Competition is Upcoming  </button>
                            }
                            else if (Model.EndDate < DateTime.Now)
                            {
                                <button class="danger text-uppercase" disabled>Competition is finished  </button>
                            }
                            else
                            {
                                <a href="@Url.Action("Register", "Submission", new {id = Model.CompetitionId})"  class="primary-btn text-uppercase">Click here to register</a>
                            }

                        </div>
                    </div>
                    <div class="bottom-meta">

                        <div class="social-wrap col-lg-12">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>

                        </div>

                    </div>



                </div>
            </div>
            <div class="col-lg-4 sidebar">

                <div class="single-widget protfolio-widget">
                    <h4 class="title">Competition maker</h4>
                    <div class="col-lg-offset-4">
                        <img src="@Html.DisplayFor(model => model.Creator.Avatar, new { id = Model.CreatorId })" class="img-responsive" style=" width:100px;" alt="">
                    </div>
                    <h4>@Html.DisplayFor(model => model.Creator.FirstName, new { id = Model.CreatorId }) @Html.DisplayFor(model => model.Creator.LastName)</h4>
                    <p>
                        @Html.DisplayFor(model => model.Creator.Email, new { id = Model.CreatorId })
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Creator.PhoneNumber, new { id = Model.CreatorId })
                    </p>

                </div>

                @*<div class="single-widget category-widget">
            <h4 class="title">Number of participants</h4>
            <ul>
                <li><a href="#" class="justify-content-between align-items-center d-flex"><h6>... Peoples</h6> <span></span></a></li>

            </ul>
        </div>*@
                @Html.Action("SomeCompetition", "Competition");
                @if (Model.Submissions.Any(s => s.CompetitionId == Model.CompetitionId & s.Status == InstituteOfFineArts.Models.Submission.SubmissionStatus.Confirmed))
                {
                    @Html.Action("ListSubmission", "Submission", new { Id = Model.CompetitionId })
                }




            </div>
        </div>
    </div>
</section>
